
.nav-img {
    width: 60px;
    height: 60px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nave-items {
    display: flex;
    list-style: none;
}

.nave-items > li {
    padding: 5px;
}

